.primary-color{
    color: #22567c;
}
.bg-degrade{
    background-image: linear-gradient(to right, #22567c, #0099ff);
}
.text-degrade{
    background-image: linear-gradient(to right, #22567c, #0099ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.navbar-nav a:hover{
  text-decoration: underline;
}
.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
  }
  .profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile .dots-1 {
    position: absolute;
    width: 3vw;
    right: 1.5vw;
    top: 4vw;
  }
  .profile .dots-1 svg {
    fill: #fff;
  }
  .profile .dots-2 {
    position: absolute;
    width: 3vw;
    right: -4vw;
    top: 6.05vw;
  }
  .profile .dots-2 svg {
    fill: #22567c;
  }
  .profile .dots-3 {
    position: absolute;
    width: 3vw;
    left: 1.5vw;
    bottom: 6.05vw;
  }
  .profile .dots-3 svg {
    fill: #fff;
  }
  .profile .dots-4 {
    position: absolute;
    width: 3vw;
    left: -4vw;
    bottom: 4vw;
  }
  .profile .dots-4 svg {
    fill: #22567c;
  }
  .hiddenX{
    opacity: 0;
    transform: translateX(-100%);
  }
  .showX{
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
  }
  .hiddenY{
    opacity: 0;
    transform: translateY(100%);
  }
  .showY{
    transform: translateY(0);
    opacity: 1;
    transition: all .5s;
  }
  footer{
    color: white;
    background-color: #22567c;
  }
  footer .span{
    font-size: 12px;
  }
  .icons i{
    font-size: 30px;
    color: white;
  }
  @media (min-width: 375px) {
    .col-xxl-5 h2, .col-xxl-5 .title-secondary{
        text-align: center;
    }
    .profile {
      height: 60vw;
      width: 60vw;
    }
    .profile .profile-img {
      height: 65vw;
    }
    .profile .dots-1 {
      width: 3vw;
      right: 1.5vw;
    }
    .profile .dots-2 {
      width: 3vw;
      right: -4vw;
    }
    .profile .dots-3 {
      width: 3vw;
      left: 1.5vw;
    }
    .profile .dots-4 {
      width: 3vw;
      left: -4vw;
    }
    .video-biografia{
        width:100%;
        height: 200px; 
    }
    #navbarNavAltMarkup{
      margin-left: 50px;
    }
  }
  @media (min-width: 768px) {
    .col-xxl-5 h2, .col-xxl-5 .title-secondary{
        text-align: center;
    }
    .profile {
      height: 50vw;
      width: 50vw;
    }
    .profile .profile-img {
      height: 55vw;
    }
    .profile .dots-1 {
      width: 3vw;
      right: 1.5vw;
    }
    .profile .dots-2 {
      width: 3vw;
      right: -4vw;
    }
    .profile .dots-3 {
      width: 3vw;
      left: 1.5vw;
    }
    .profile .dots-4 {
      width: 3vw;
      left: -4vw;
    }
    .video-biografia{
      width:450px;
      height: 300px; 
  }
  #navbarNavAltMarkup{
    margin-left: 50px;
  }
  }
  @media (min-width: 992px) {
    .col-xxl-5 h2, .col-xxl-5 .title-secondary{
        text-align: center;
    }
    .profile {
      height: 40vw;
      width: 40vw;
    }
    .profile .profile-img {
      height: 45vw;
    }
    .profile .dots-1 {
      width: 1.5vw;
      right: 0.75vw;
    }
    .profile .dots-2 {
      width: 1.5vw;
      right: -2vw;
    }
    .profile .dots-3 {
      width: 1.5vw;
      left: 0.75vw;
    }
    .profile .dots-4 {
      width: 1.5vw;
      left: -2vw;
    }
    .video-biografia{
      width:550px;
      height: 350px; 
  }
  .navbar-nav {
    margin-left: auto;
}
  }
  @media (min-width: 1200px) {
    .col-xxl-5 h2, .col-xxl-5 .title-secondary{
        text-align: center;
    }
    .profile {
      height: 35vw;
      width: 35vw;
    }
    .profile .profile-img {
      height: 40vw;
    }
    .profile .dots-1 {
      width: 1.5vw;
      right: 0.75vw;
    }
    .profile .dots-2 {
      width: 1.5vw;
      right: -2vw;
    }
    .profile .dots-3 {
      width: 1.5vw;
      left: 0.75vw;
    }
    .profile .dots-4 {
      width: 1.5vw;
      left: -2vw;
    }
    .video-biografia{
      width:650px;
      height: 370px; 
      border-radius: 10px;
  }
  }